<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compartible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/form.css" rel="stylesheet">
    <title>Página de login</title>

</head>

<body>

    <section>
    
        <div id="login">

            {% if message %}
                        <p style="color: white;">Sua reserva foi concluída com sucesso! Realize o pagamento diretamente no estabelecimento.</p>
                    {% endif %}

                <form method="post">
                    <div class="form-area">

                        <div class="col-logo">
                            <title>LOGIN</title>
                        </div>

                        <div class="formulario">
                    
                            <div class="col">

                                <div class="rowt">
                                    <label for="email">E-mail:</label>
                                </div>

                                 <div class="rowt">
                                    <label for="email">Senha:</label>
                                </div>

                            </div>

                            <div class="col">

                                <div class= "row">
                                    <input required type="email" name="email" class="campo">
                                </div>

                                <div class="row">
                                    <input required type="password" name="senha" class="campo">
                                </div>
                               
                            
                                <div class="rowb">
                                    <p>Ainda não possui uma conta? Crie uma</p>
                                    <button type="submit">Entrar</button>
                                </div>

                            </div>

                            
                        
                        </div>

                    </div>

                </form>
            </div>

        </div>
    
    </section>
    
</body>

</html>